body {
    background-color: lightcoral;
    .center{
        border: 5 px solid;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
      text-align: center;
      font-family: fantasy;
      color: lightgrey;
      margin: 0;
      padding: 50px;
    }
    